<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>게시물 수정</h3>
<form th:action="@{/board/edit}" method="post">

    <div>
        <label for="inputId">글 번호</label>
        <input type="text" id="inputId" name="id" th:value="${board.id}" readonly>
    </div>
    <div>
        <label for="inputTitle">제목</label>
        <input type="text" id="inputTitle" name="title" th:value="${board.title}">
    </div>
    <div>
        <label for="inputContent">내용</label>
        <textarea type="text" id="inputContent" name="content" th:text="${board.content}"></textarea>
    </div>
    <div>
        <label for="inputAuthor">작성자</label>
        <input type="text" id="inputAuthor" name="author" th:value="${board.author}" readonly>
    </div>
    <button type="submit">저장</button>
</form>

<a th:href="@{/board/list}">
    <button> 목록으로</button>
</a>
</body>
</html>
