<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/main :: commonHead('게시판 목록')">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>

<div th:replace="layout/main :: navbar('list')"></div>

<div class="container">
    <div class="row">
        <div class="col">

            <h3 class="mb-3">게시판 목록</h3>
            <p th:if="${deleteMessage}" class="alert alert-danger" th:text="${deleteMessage}"></p>
            <p th:if="${joinSuccess}" class="alert alert-primary" th:text="${joinSuccess}"></p>
            <p th:if="${login}" class="alert alert-success" th:text="${login}"></p>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each=" list : ${boardList}">
                    <td th:text="${list.id}"></td>
                    <td>
                        <a th:href="@{/board/view(id=${list.id})}" th:text="${list.title}"></a>
                    </td>
                    <td th:text="${list.author}"></td>
                    <td th:text="${#temporals.format(list.created,'yyyy-MM-dd HH:mm')}"></td>
                </tr>
                </tbody>
            </table>

            <!--페이지 번호-->

            <div class="mt-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${leftPageNumber >1}">
                            <a class="page-link" th:href="@{'/board/list?page=' + ${leftPageNumber -1}}">이전</a>
                        </li>

                        <li class="page-item" th:if="${leftPageNumber != null and rightPageNumber != null}"
                            th:each="i : ${#numbers.sequence(leftPageNumber, rightPageNumber)}">
                            <a class="page-link" th:href="@{'/board/list?page=' + ${i}}"
                               th:text="${i}"
                               th:classappend="${i == currentPage}? 'fw-boad text-primary'"></a>
                        </li>

                        <li class="page-item" th:if="${rightPageNumber < totalPage}">
                            <a class="page-link" th:href="@{'/board/list?page=' + ${rightPageNumber +1}}">다음</a>
                        </li>
                    </ul>
                </nav>
            </div>


        </div>
    </div>
</div>


<div th:replace="layout/main :: commonScript"></div>

</body>
</html>