<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main ::  commonHead('회원 정보 수정')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="layout/main :: navbar('edit')"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-6">

            <h3 class="mb-3">회원 정보 변경</h3>
            <form th:action="@{/member/edit}" method="post">
                <div class="mb-3">
                    <label class="form-label" for="inputId">아이디</label>
                    <div>
                        <p style="font-size: small; color: red"> 아이디는 변경 할 수 없습니다.</p>
                    </div>
                    <input type="text" class="form-control" id="inputId"
                           name="id" th:value="${member.id}" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="inputPassword">비밀번호</label>
                    <input type="password" class="form-control" name="password" id="inputPassword">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="inputName">이름</label>
                    <input type="text" class="form-control" id="inputName"
                           name="name" th:value="${member.name}">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="inputNickname">별명</label>
                    <input type="text" class="form-control" id="inputNickname"
                           name="nickname" th:value="${member.nickname}">
                </div>
                <div class="mb-3">
                    <a th:href="@{/member/info(id=${member.id})}" class="btn btn-outline-primary">목록</a>
                    <button class="btn btn-outline-success">저장</button>
                </div>

            </form>
        </div>
    </div>
</div>


<div th:replace="layout/main :: commonScript"></div>

</body>
</html>