<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main :: commonHead('회원가입')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="layout/main :: navbar('signup')"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-6">

            <h3 class="mb-3">회원가입 페이지</h3>

            <p th:if="${fail}" class="alert alert-danger" th:text="${fail}"></p>


            <form th:action="@{/member/signup}" method="post">
                <div class="mb-3">
                    <label class="form-label" for="inputId">아이디</label>
                    <input class="form-control" name="id" type="text" id="inputId"
                           th:value="${dto == null ? '': dto.id}">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="inputPassword">비밀번호</label>
                    <input class="form-control" name="password" type="password" id="inputPassword">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="inputName">이름</label>
                    <input class="form-control" name="name" type="text" id="inputName"
                           th:value="${dto == null? '' : dto.name}">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="inputNickName">닉네임</label>
                    <input class="form-control" name="nickname" type="text" id="inputNickName"
                           th:value="${dto == null? '' : dto.nickname}">
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-primary">회원가입</button>
                    <a th:href="@{/member/login}" class="btn btn-outline-danger">취소</a>
                </div>
            </form>


        </div>
    </div>
</div>


<div th:replace="layout/main :: commonScript"></div>

</body>
</html>