<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main :: commonHead('회원가입')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="layout/main :: navbar('edit')"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-6">

            <form class="mb-3" th:action="@{/user/signUp}" method="post">
                <div class="mb-3">
                    <label class="form-label" for="inputId">아이디</label>
                    <input class="form-control" name="id" type="text" id="inputId">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="inputPassword">비밀번호</label>
                    <input class="form-control" name="password" type="password" id="inputPassword">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="inputName">이름</label>
                    <input class="form-control" name="name" type="text" id="inputName">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="inputNickname">닉네임</label>
                    <input class="form-control" name="nickname" type="text" id="inputNickname">
                </div>

                <div class="mb-3">
                    <button class="btn btn-outline-primary">저장</button>
                    <a class="btn btn-outline-warning" th:href="@{/board/list}">취소</a>
                </div>


            </form>

        </div>
    </div>
</div>


<div th:replace="layout/main :: commonScript"></div>

</body>
</html>